body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 1000px;
  width: 1000px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container-items {
  background-color: lightgray;
  flex-grow: 1;
  flex-shrink: 1;
}

.container-items:hover {
  background-color: gray;
}

.colored {
  background-color: black;
}

.up {
  background-color: orange;
}
